In [23]:
import pandas as pd

df=pd.read_excel("data/gunluk_veri.xlsx",
                usecols = "C:P")

In [24]:
for i in range(len(df["Günlük Vaka"])):
    if i==0 :
        df["Günlük Vaka"][i]=df["Toplam Vaka"][i]
    else:
        df["Günlük Vaka"][i]=df["Toplam Vaka"][i]-df["Toplam Vaka"][i-1]

<ipython-input-24-bf406d136264>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Günlük Vaka"][i]=df["Toplam Vaka"][i]
<ipython-input-24-bf406d136264>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Günlük Vaka"][i]=df["Toplam Vaka"][i]-df["Toplam Vaka"][i-1]

In [30]:
df

,Tarih,Toplam Vaka,Günlük Vaka,Toplam_Hasta,Gunluk_Hasta,Toplam_Vefat,Gunluk_Vefat,Toplam_iyilesen,Gunluk_iyilesen,Toplam_Test,Gunluk_Test,YBU,Entube,Ağır Hasta
0,2020-03-11,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,940.0,940.0,NaN,NaN,NaN
1,2020-03-12,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,2470.0,1530.0,NaN,NaN,NaN
2,2020-03-13,5.0,4.0,2.0,1.0,NaN,NaN,NaN,NaN,4000.0,1530.0,NaN,NaN,NaN
3,2020-03-14,6.0,1.0,5.0,3.0,NaN,NaN,NaN,NaN,5000.0,1000.0,NaN,NaN,NaN
4,2020-03-15,18.0,12.0,18.0,13.0,NaN,NaN,NaN,NaN,6000.0,1000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,2021-12-11,9022223.0,19255.0,NaN,NaN,78969.0,191.0,8592144.0,23180.0,111894078.0,349221.0,NaN,NaN,NaN
641,2021-12-12,9040179.0,17956.0,NaN,NaN,79151.0,182.0,8614792.0,22648.0,112239832.0,345754.0,NaN,NaN,NaN
642,2021-12-13,9058975.0,18796.0,NaN,NaN,79322.0,171.0,8638034.0,23242.0,112591368.0,351536.0,NaN,NaN,NaN
643,2021-12-14,9080452.0,21477.0,NaN,NaN,79503.0,181.0,8662076.0,24042.0,112949485.0,358117.0,NaN,NaN,NaN
644,2021-12-15,9100324.0,19872.0,NaN,NaN,79696.0,193.0,8687315.0,25239.0,113306810.0,357325.0,NaN,NaN,NaN

In [29]:
df.to_excel("data/gunluk_veri_son.xlsx")